/* src/Sidebar.css */

.sidebar {
  width: 175px;
  position: fixed;
  top: 56px;  /* Adjust this value to match the height of your top nav */
  left: 0;
  background-color: #f8f9fa;
  padding-top: 20px;
  border-right: 1px solid #ddd;
  height: calc(100% - 56px);  /* Adjust this value to match the height of your top nav */
}
  
.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  display: block;
}
  
.sidebar a:hover {
  background-color: #ddd;
}

.content-area {
  padding-left: 175px;  /* Adjust this value to match the width of your sidebar */
}

@media (max-width: 991px) {
    .content-area {
        padding-left: 175px;  /* Reset padding when the window is small */
    }
}